.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  height: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 20px;
}
.mess {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.card-text
{
  margin-top:10px;
  margin-bottom: 10px;
}
.change-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #584e4e;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.rating {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}